/* ------------------------------------ _Composants
                  1 - Textes
                  2 - Buttons
                  3 - Custom Icons
                  4 - Forms
                  5 - Search Bar ------------------------------------ */

/* ------------------------------------ 1 - Textes ------------------------------------ */

h1 {
  font-family: $akaya;
  font-size: 2.5rem;
  color: $dark;
  margin-top: 80px;
}

h2 {
  font-family: $poppins;
  font-size: 1.8rem;
  color: $dark;
}

h3 {
  font-family: $poppins;
  font-size: 1.5rem;
  color: $dark;
}

h4 {
  font-family: $poppins;
  font-size: 1.2rem;
  color: $dominante;
}

p,
a,
li,
button,
label {
  color: $dark;
  font-family: $poppins;
  font-size: 1.2rem;
  text-decoration: none;
  list-style: none;

  & i {
    margin-right: 10px;
  }
}

/* ------------------------------------ 2 - Buttons ------------------------------------ */

.primary_btn {
  background: $tonic;
  border: none;
  color: $light;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secondary_btn {
  background: transparent;
  border: 2px solid $dominante;
  color: $dominante;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ------------------------------------ 3 - custom Icons ------------------------------------ */

.icon-de {
  background: url(../img/svg/de.svg) no-repeat;
  height: 40px;
  width: 40px;
  display: inline-block;

  &-outline {
    background: url(../img/svg/de-outline.svg);
    height: 40px;
    width: 40px;
    display: inline-block;
  }
}

/* ------------------------------------ 4 - Forms ------------------------------------ */

form {
  display: flex;
  flex-flow: column;
  align-items: flex-end;

  input {
    &[type="text"],
    &[type="message"],
    &[type="checkbox"] {
      width: 100%;
      border: none;
      border-bottom: 1px solid $dark;
      font-family: "Poppins";
      font-size: 1.2rem;
      padding: 10px 5px;
      margin-bottom: 20px;
    }

    &[type="message"] {
      height: 175px;
      padding: 10px 5px 130px 5px;
    }

    &[type="submit"] {
      width: fit-content;
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    &[type="checkbox"] {
      display: block;
      height: 20px;

      &:focus {
        color: $dark;
      }
    }
  }
}

/* ------------------------------------ 5 - Search Bar ------------------------------------ */
.search {
  &_form {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    background: rgba($color: $dark, $alpha: 0.2);
    margin-bottom: 20px;
  }

  &_bar {
    background: transparent;
    border: none !important;
    margin-bottom: 0 !important;
  }

  &_btn {
    background-color: transparent;
    border: none;
  }
}
