.footer {
  background: $dominante;
  border-top: $tonic solid 10px;
  width: 100vw;
  padding: 5px 10px;
  margin: 70px 0 0 -19px;

  &_items {
    display: grid;
    grid-template-columns: 3fr 1fr;

    &_text {
      & p,
      & a {
        color: $light;
      }
      &_project a {
        color: $tonic;
      }
    }

    &_social {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      & i {
        color: $light;
        margin: 10px 0;
      }
    }
  }
}
